openapi: 3.0.1
info:
  title: Langtrace AI Projects API
  description: REST API for Langtrace, an open-source, OpenTelemetry-based observability platform for LLM applications by Scale3 Labs. Covers OTLP/HTTP trace ingestion, project and API key management, the prompt registry, and paginated trace retrieval. The same endpoints are available on Langtrace Cloud (app.langtrace.ai) and on self-hosted deployments. All requests are authenticated with an x-api-key header.
  termsOfService: https://www.langtrace.ai/terms
  contact:
    name: Langtrace AI Support
    url: https://docs.langtrace.ai
  license:
    name: AGPL-3.0
    url: https://github.com/Scale3-Labs/langtrace/blob/main/LICENSE
  version: '1.0'
servers:
- url: https://app.langtrace.ai/api
  description: Langtrace Cloud
- url: http://localhost:3000/api
  description: Self-hosted Langtrace deployment
security:
- ApiKeyAuth: []
tags:
- name: Projects
  description: Project and API key management.
paths:
  /project:
    post:
      operationId: createProject
      tags:
      - Projects
      summary: Create a new project.
      description: Creates a new project under the specified team.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '200':
          description: Project created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          description: Invalid api key unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api-key:
    post:
      operationId: createProjectApiKey
      tags:
      - Projects
      summary: Create an API key for an existing project.
      description: Mints a new project-level API key for the given project.
      parameters:
      - name: project_id
        in: query
        required: true
        description: ID of the project to create an API key for.
        schema:
          type: string
      responses:
        '200':
          description: API key created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
        '401':
          description: Invalid api key unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    CreateProjectRequest:
      type: object
      required:
      - teamId
      properties:
        teamId:
          type: string
          description: ID of your team, found in the Langtrace UI.
        name:
          type: string
          description: Name of the project.
        description:
          type: string
          description: Description of the project being created.
        createDefaultTests:
          type: boolean
          description: Whether default tests should be created.
    Project:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        teamId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    ApiKeyResponse:
      type: object
      properties:
        apiKey:
          type: string
          description: The newly created project API key.
    Error:
      type: object
      properties:
        message:
          type: string
          description: Human-readable error message.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Project-level (or team-level for project creation) API key.
